<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1104">
    <!-- Subscribe Form -->
    <div id="cta-1104">
        <div class="cs-content">
            <h2 class="cs-title">Subscribe For Newsletter</h2>
            <form class="cs-form" name="Contact Form" data-netlify="true" method="post">
                <input class="cs-input" type="email" id="cs-email-1104" name="find-us" placeholder="Email Address">
                <button class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
        </div>
    </div>
    <div class="cs-container">                        
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Logo.png" alt="logo" width="197" height="43">
            </a>
            <p class="cs-text">
                Unlocking Your Better You - Your Partner in Fitness Transformation. Join me Today and Begin Your Journey to a Healthier, Stronger You
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Quick Links</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about/">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Booking/">Booking</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Categories</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Personal-Training/">1 on 1 Virtual Training</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Personal-Training/">1 on 1 Mobility Training</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Personalized-Program/">Personalized Program Packages</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/Functional-Mobility/">Functional Mobility Training</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-stroke.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel:647-285-8007">+1 (647) 285 8007
                </a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/email-stroke.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:Fitnessbysamo@gmail.com">Fitnessbysamo@gmail.com</a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Handcoded and Designed by - <a class="cs-copyright-link" href="www.enigmadigital.ca">Enigma Digital</a></span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
    </picture>
</footer>