---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '/about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1126">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/Image12.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Image12.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image12.jpg" alt="person with box" width="657" height="676"  aria-hidden="true">
            </picture>
            <!--Circle Graphic-->
            <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-shape.svg" alt="graphic" width="641" height="660" aria-hidden="true">
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Samuel - Personal Trainer</span>
            <h2 class="cs-title">Helping To Unlock Your Better You</h2>
            <p class="cs-text">
              Hello! My name is Samuel Ojiokpota. I am a certified personal trainer , functional mobility coach and student of science. With my wealth of experience within the fitness industry and deep passion for athletics. I am committed to guiding you on your journey to a better self. 
Outside the gym, I'm an avid explorer of nature trails, an enthusiast of healthy cooking, and a continuous learner in the realms of physical and mental well-being. My  healthy lifestyle is governed by the sound mind, sound body

            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/Personal-Training/">Our Packages</a>
        </div>
    </div>
</section>
          

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-692">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Image2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Image2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image2.jpg" alt="gym" width="542" height="647">
            </picture>
            <!--Small Image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Image3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Image3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image3.jpg" alt="weight measure" width="413" height="493">
            </picture>
            <!--Flower Graphic-->
            <img class="cs-flower" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fbig-abstract-flower.svg" alt="flower graphic" width="363" height="350" aria-hidden="true">
            <!--Spidey Sense Graphic-->
            <img class="cs-sense" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Philosophy and Approach</span>
            <h2 class="cs-title">My <span class="cs-color">Training Philosophy</span> And Approach</h2>
            <p class="cs-text">
              
My method is a daily discipline rooted in moving functionally through everyday life. Unlocking not just strength but being transformative in all needed biomotor principles ; Balance, Endurance, Speed and Flexibility

            </p>
            <p class="cs-text">
                Imagine effortlessly carrying groceries, playing with your children, or tackling a hiking trail with confidence. These are the moments that functional strength training prepares you for – a life where physical vitality seamlessly integrates with your daily routines.
            </p>
            <a href="/Booking/" class="cs-button-solid">Book Appointment</a>
        </div>
    </div>
    <!--Floating Leaf-->
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fleaf4.png" alt="leaf" width="216" height="384" aria-hidden="true">
</section>
   


   
{% endblock %}