---
title: 'Booking'
description: "Ready to start your fitness journey? Book your training sessions with Samuel in Toronto and embark on a path to unlocking your better you. Secure your spot and take the first step toward your fitness goals today."
permalink: '/Booking/'
eleventyNavigation:
  key: Booking
  order: 800
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/booking.css">
{% endblock %}

{% block body %}
<div class="Calender">
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/fitnessbysamo" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</div>


{% endblock %}