---
title: 'Functional-Mobility'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '/Functional-Mobility/'
eleventyNavigation:
    key: Functional-Mobility
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/personal.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-75">
    <div class="cs-container">
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Image9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Image9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image9.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
        </div>
          <div class="cs-content">
            <span class="cs-topper">Functional Mobility Training</span>
            <h2 class="cs-title">Functional Mobility Training: Unlock Fluid Movement</h2>
            <p class="cs-text">
               Discover a fitness journey designed exclusively for you with our Personalized Program Design. This comprehensive program spans three months, offering a meticulously planned progression that aligns with your unique goals. Our commitment to your success extends to weekly check-ins and a monthly personalized training session to ensure steady growth and lasting results.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/About/">About Us</a>
        </div>
    </div>
</section>
       

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1103">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Affordable Pricing Plans</h2>
            <p class="cs-text">
                Whether you're seeking the flexibility of virtual training or the personalized attention of in-person sessions, our 1 on 1 training is designed to help you thrive. Invest in yourself and embark on a fitness journey that's tailored to your needs and aspirations.
            </p>
            <a href="/Booking/" class="cs-button-solid">Book Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Functional Mobility Training</span>
                <span class="cs-price">$49.99</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Medical service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Functional Mobility Group Training</span>
                <span class="cs-price">$99.99</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Medical service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

{% endblock %}