---
title: 'Virtual-Training'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '/Virtual-Training/'
eleventyNavigation:
    key: Personalized-Program
    order: 600
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/personal.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-75">
    <div class="cs-container">
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Image9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Image9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image9.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
        </div>
          <div class="cs-content">
            <span class="cs-topper">Virtual Training</span>
            <h2 class="cs-title">Virtual Training: Your Path to Progress</h2>
            <p class="cs-text">
              Welcome to our Personalized Virtual Training Program, where your fitness journey is tailored exclusively to you. We are committed to helping you achieve your unique goals with a comprehensive program that spans three months. Our program is designed to provide a meticulously planned progression, weekly check-ins, and monthly personalized training sessions to ensure your steady growth and lasting results.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/About/">About Us</a>
        </div>
    </div>
</section>
       

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1260">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Transparent Pricing for Your Personalized Virtual Training</h2>
            <p class="cs-text">
              Achieve your fitness goals with our comprehensive Personalized Program. This all-inclusive package covers your three-month journey to success, complete with weekly check-ins and a monthly personalized training session. We're dedicated to helping you reach your fitness aspirations with a program that's tailored just for you.
            </p>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
     
            <li class="cs-item">
                <span class="cs-popular-tag">Recommended</span>
                <picture class="cs-picture">
                    <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/walking.svg" alt="checkmark" width="44" height="44">
                </picture>
                <span class="cs-package">Train as an athlete , Move as an athlete</span>
                <span class="cs-price">
                    $113.99
                    <span class="cs-duration">/Session</span>
                </span>
                <p class="cs-item-text">

                </p>
                <ul class="cs-ul">

                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                      Personalized Workout Plan: Samuel will create customized workout plans based on your fitness level, goals, and preferences.
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Monthly Personalized Training Session: Each month, you'll have a one-on-one virtual or in-person training session with your dedicated trainer to refine your technique and set new goals.
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Nutritional Guidance: Get expert advice on nutrition and meal planning to complement your fitness program and optimize your results.
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                      Weekly Check-Ins: We'll track your progress and provide guidance through weekly check-ins to keep you on the right path.
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                      Access to Exclusive Resources: Gain access to Samuel's custom app with a library of, nutritional resources, and expert tips to support your fitness journey.
                    </li>
                </ul>
                <a href="/Booking/" class="cs-button-transparent">Book Appointment</a>
            </li>
           
              
                
    </div>
</section>



{% endblock %}