---
title: 'Personal Training'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'Personal-Training/'
eleventyNavigation:
    key: Personal Training
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/personal.css">
{% endblock %}

{% block body %}

                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-75">
    <div class="cs-container">
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Image9.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Image9.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Image9.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">1 on 1 Training</span>
            <h2 class="cs-title">Experience Personal Coaching and Real Results</h2>
            <p class="cs-text">
                Join us in person for a tailored training experience that brings your fitness aspirations to life. With two sessions per week, you'll receive hands-on guidance and motivation to push your limits and achieve remarkable results. Our in-person training is designed to make every session count, helping you build strength, improve mobility, and reach your goals effectively.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="/About/">About</a>
        </div>
    </div>
</section>
       

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1260">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Transparent Pricing for your Fitness Journey</h2>
            <p class="cs-text">
                 We believe in complete transparency when it comes to pricing for our 1-on-1 training program. We offer two flexible packages tailored to your specific needs and budget, ensuring you have the freedom to choose the best fit for your fitness journey.
            </p>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-popular-tag">Recommended</span>
                <picture class="cs-picture">
                    <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/walking.svg" alt="checkmark" width="44" height="44">
                </picture>
                <span class="cs-package">Train as an athlete , Move as an athlete</span>
                <span class="cs-price">
                    $113.99
                    <span class="cs-duration">/Session</span>
                </span>
                <p class="cs-item-text">

                </p>
                <ul class="cs-ul">

                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        3 months program commitment
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Progress metrics tracking
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Nutrition coaching
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                       Gym included 
                    </li>
                </ul>
                <a href="/Booking/" class="cs-button-transparent">Book Appointment</a>
            </li>
            <li class="cs-item cs-popular">
              
                <picture class="cs-picture">
                    <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/badge.svg" alt="checkmark" width="44" height="44">
                </picture>
                <span class="cs-package">Train as an athlete From Home</span>
                <span class="cs-price">
                    $99.99
                    <span class="cs-duration">/Session</span>
                </span>
                <p class="cs-item-text">
                   * Limited locations within Toronto
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        3 months program commitment
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Progress metrics tracking
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Nutrition coaching
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/round-check.svg" alt="checkmark" width="18" height="18">
                        Mobile Home service
                    </li>
                </ul>
                <a href="/Booking/" class="cs-button-transparent">Book Appointment</a>
            </li>
        </ul>
       
    </div>
</section>
                                



{% endblock %}