---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/Hero.jpeg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-855">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Physical Health & Wellness </span>
            <h1 class="cs-title">Unlock Your Better You</h1>
            <p class="cs-text">
                Embark on a transformative journey to become your best self with Samuel's personalized training programs. Whether you're in Toronto or anywhere else, Sam's expertise and guidance will empower you to achieve your fitness goals. Discover the joy of functional strength training and embrace a healthier lifestyle that's tailored to your unique needs and aspirations.
            </p>
            <a href="/Booking/" class="cs-button-solid">Book A Free Consultation</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/Hero.jpeg">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/Hero.jpeg">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/Hero.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Hero.jpeg" alt="therapy" width="570" height="701">
            </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

   <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-885">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Explore Our Personal Training Services</h2>
            <p class="cs-text">
                Discover a range of personalized training options designed to help you achieve your fitness goals effectively and sustainably. Our diverse services cater to different preferences and needs, ensuring you'll find the perfect fit for your journey to a healthier, stronger you.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/Personal-Training/" class="cs-link">
                    <h3 class="cs-h3">1 on 1 Virtual Training</h3>
                    <p class="cs-item-p">
                        Experience personalized workouts and expert guidance from the comfort of your home.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image13.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image13.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image13.jpg" alt="Virtual Training" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Personal-Training/" class="cs-link">
                    <h3 class="cs-h3">1 on 1 In-Person Training</h3>
                    <p class="cs-item-p">
                        Train with Samuel in a motivating environment and make significant strides towards your fitness aspirations.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image5.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image5.jpg" alt="In-person Training" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Personalized-Program/" class="cs-link">
                    <h3 class="cs-h3">Personalized Program Design</h3>
                    <p class="cs-item-p">
                     Our 3-month progression, weekly check-ins, and tailored monthly training sessions ensure continuous growth and success.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image10.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image10.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image10.jpg" alt="Personalized Program Design" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/Functional-Mobility/" class="cs-link">
                    <h3 class="cs-h3">Functional Mobility Treatment</h3>
                    <p class="cs-item-p">
                        Samuel's expertise will help you move better, feel better, and regain your mobility for an improved quality of life..
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/Image11.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/Image11.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Image11.jpg" alt="Functional Mobility Treatment" width="1280" height="568">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>
  




  <!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1396">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                 Working with Samuel through his functional mobility training programming. I can attest to the transformation I have seen both physically and mentally.
                 I am now closer to my pursuit of a ‘spider man physique’ but also moving better.

                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/client1.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Steven P
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                    The Functional Mobility Training program has been a lifesaver for me. After just a few sessions, I felt a significant improvement in my flexibility and mobility. The trainer is knowledgeable and incredibly supportive
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/client2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Ameen M
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
                <p class="cs-item-text">
                   In-person training with Sam has been a fantastic experience. The personalized workouts and constant encouragement have not only transformed my physique but also boosted my confidence. I look forward to every session!
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Alex M
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                                                                   
<!-- ============================================ -->
<!--                   Blog                       -->
<!-- ============================================ -->

<section id="blog-844">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Blog</span>
            <h2 class="cs-title">Latest News & Articles</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy2.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2023</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy3.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2023</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item cs-featured">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="369" height="290">
                </picture>
                <div class="cs-item-content">
                    <span class="cs-date">07 Sep, 2023</span>
                    <h3 class="cs-h3">How Physical Therapy Can Help You Recover from Surgery</h3>
                    <p class="cs-item-text">
                        Physical therapy is often an important part of the recovery process for patients who have undergone surgery.
                    </p>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Forange-carrot-right.svg" alt="arrow right" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All News</a>
    </div>
</section>
<script defer src="/assets/js/pricing.js"></script>
{% endblock %}
