/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #contact-1105 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }
        
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-title {
            /* cs-text override.  cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This second cs-text is a section specific override that stays inside this stitch */
            margin: 0 0 calc(32 / 16 * 1rem) 0;
        }

        .cs-form {
            width: 100%;
            /* 24px - 48px top and bottom */
            /* 20px - 32px left and right */
            padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1.25rem, 5.18vw, 2rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            background-color: #F7F8F8;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            color: var(--headerColor);
            background-color: #fff;
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7D799C;
                opacity: .6;
            }
        }

        .cs-textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(12 / 16 * 1rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            border: none;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color .3s;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            min-width: calc(283 / 16 * 1rem);
            border-radius: 0;
            &:hover {
                cursor: pointer;
            }
        }

        .cs-ul {
            width: auto;
            /* 40px - 92px, marign bottom and left are the same clamp values that the stripes box is absolutely positioned outside the cs-ul box */
            margin-bottom: clamp(2.5rem, 9vw, 5.75rem);
            /* 32px - 80px */
            margin-right: clamp(2rem, 9vw, 5rem);
            /* 40px - 100px top and bottom */
            /* 16px - 80px left and right */
            padding: clamp(2.5rem, 9.18vw, 6.25rem) clamp(1rem, 9.18vw, 5rem);
            box-sizing: border-box;
            background-color: #F7F7F7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 40px - 60px */
            gap: clamp(1.5rem, 6vw, 3.75rem);
            position: relative;

            &:before {
                /* stripes graphic */
                content: '';
                height: 100%;
                width: 100%;
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-contact.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                display: block;
                position: absolute;
                /* 40px - 92px */
                top: clamp(2.5rem, 9vw, 5.75rem);
                /* 32px - 80px */
                left: clamp(2rem, 9vw, 5rem);
                z-index: -1;
             }
        }

        .cs-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            /* 12px - 20px */
            gap: clamp(.75rem, 2vw, 1.25rem);

            &:hover {
                .cs-icon-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            color: #767676;
            display: block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-icon-wrapper {
            /* 44px - 80px */
            width: clamp(2.75rem, 8.3vw, 5rem);
            height: clamp(2.75rem, 8.3vw, 5rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid #BABABA;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform .3s;
        }

        .cs-icon {
            /* 20px - 40px */
            width: clamp(1.25rem, 3vw, 2.5rem);
            height: auto;
            display: block;
        }

        .cs-picture {
            width: 100%;
            border-radius: calc(8 / 16 * 1rem);
            /* clips image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* width divided height */
            aspect-ratio: 288/200;
        }

        .cs-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1105 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-content {
            max-width: calc(542 / 16 * 1rem);
            /*sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-ul {
            max-width: calc(513 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-1105 {
            .cs-title, .cs-text, .cs-header, .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                opacity: .8;
            }

            .cs-form {
                background-color: var(--medium);
            }

            .cs-label {
                color: var(--bodyTextColorWhite);
            }

            .cs-input {
                background-color: rgba(255, 255, 255, .1);
                color: var(--bodyTextColorWhite);
                &::placeholder {
                    color: #fff;
                    opacity: .5;
                }
            }

            .cs-ul {
                background-color: var(--medium);
                &:before {
                    opacity: .3;
                }
            }
        }
    }
}
         

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


    #cta-1104 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        width: 100%;
        max-width: calc(1280 / 16 * 1rem);
        margin: var(--sectionPadding);
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        /* 16px - 60px */
        padding: calc(60 / 16 * 1rem) clamp(1rem, 7vw, 3.75rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        border: 1px solid #484848;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* changes to 100% at tablet */
            max-width: calc(400 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(700 / 16 * 1rem);
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-title {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            width: 100%;
            font-size: calc(31 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-form {
            width: 100%;
            max-width: calc(725 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(16 / 16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            padding: 0;
            padding-left: calc(20 / 16 * 1rem);
            border: none;
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            &::placeholder {
                color: #767676;
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            width: 100%;
            border: none;
            transition: color .3s;
            &:before {
                background-color: #fff;
            }

            &:hover {
                color: var(--primary);
            }
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-1104 {
        .cs-container {
            padding-left: calc(60 / 16 * 1rem);
            padding-right: calc(60 / 16 * 1rem);
        }
        .cs-content {
            max-width: 100%;
        }

        .cs-form {
            flex-direction: row;
        }

        .cs-input {
            width: 100%;
            max-width: calc(525 / 16 * 1rem);
        }

        .cs-submit {
            width: auto;
            min-width: calc(190 / 16 * 1rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #cta-1104 {
        .cs-content {
            flex-direction: row;
        }

        .cs-form {
            width: 60%;
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #cs-footer-1104 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        position: relative;
   
        .cs-container {
            width: 100%;
            /* reset on desktop */
            max-width: calc(700 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: calc(197 / 16 * 1rem);
            height: auto;
            display: block;
            margin-bottom: calc(24 / 16 * 1rem);
        }

        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        }

        .cs-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 2.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            width: 78%;
            /* changes to 305px at desktop */
            max-width: calc(420 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
        }

        /* Navigation Links */
        .cs-nav {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-header {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: calc(16 / 16 * 1rem);
            text-decoration: none;
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            position: relative;
            display: inline-block;
            transition: color .3s;

            &:before {
                /* underline */
                content: '';
                width: 0%;
                height: calc(2 / 16 * 1rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                transition: width .3s;
            }

            &:hover {
                color: var(--secondary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            margin-right: calc(12 / 16 * 1rem);
        }

        .cs-bottom {
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            margin-top: calc(32 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            border-top: 1px solid #484848;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-copyright, .cs-copyright-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color .3s;
            &:hover {
                color: var(--secondary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: '';
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(left,  rgba(26,26,26,0.94) 0%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(26,26,26,0.94) 0%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right,  rgba(26,26,26,0.94) 0%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                opacity: .97;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1104 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            justify-content: space-between;
            row-gap: calc(40 / 16 * 1rem);
        }

        .cs-nav {
            width: auto;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1104 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: calc(84 / 16 * 1rem);
        }

        .cs-logo-group {
            width: 30%;
            max-width: calc(387 / 16 * 1rem);
            /* pushes away from everything to the right */
            margin-right: auto;
        }

        .cs-text {
            width: 100%;
        }
    }
}
